/* Add CSS Styling */
.p {
    background-color: black;
    color: white;
}

.h {
    background-color: yellow;
}

.common {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
    
}